# servicer-mesh.conf.sample
#
# This is a sample Nginx configuration file.
# Rename this file to servicer-mesh.conf to use it.
# Example: mv servicer-mesh.conf.sample servicer-mesh.conf 
#
# YOUR_SERVICER_URL = Servicer DNS record. e.g servicer.us.example.com
# YOUR_DOMAIN_HERE = Actual domain name or subdomain. e.g *.subdomain.example.com

upstream servicer_node {
    server host.docker.internal:8081;
}

upstream mesh_node {
    server host.docker.internal:8082;
}

server {
    listen 80;
    listen [::]:80;

    server_name <YOUR_SERVICER_URL>;
    add_header Access-Control-Allow-Origin "*";
    keepalive_requests 16000000;

    location = /v1 {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://servicer_node;
        add_header Access-Control-Allow-Methods "GET, POST, OPTIONS";
        allow all;
    }

    location = /v1/private/mesh/check {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://servicer_node;
        add_header Access-Control-Allow-Methods "POST, OPTIONS";
        allow all;
    }

    location = /v1/private/mesh/session {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://servicer_node;
        add_header Access-Control-Allow-Methods "POST, OPTIONS";
        allow all;
    }

    location = /v1/private/mesh/relay {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://servicer_node;
        add_header Access-Control-Allow-Methods "POST, OPTIONS";
        allow all;
    }

    location = /v1/health {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://servicer_node;
        add_header Access-Control-Allow-Methods "GET";
        allow all;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name *.<YOUR_DOMAIN_HERE>;
    add_header Access-Control-Allow-Origin "*";

    ssl_certificate /etc/letsencrypt/live/<YOUR_DOMAIN_HERE>/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<YOUR_DOMAIN_HERE>/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;
    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";

    location = /v1 {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://mesh_node;
        add_header Access-Control-Allow-Methods "POST, OPTIONS";
        allow all;
    }

    location = /v1/client/relay {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_pass http://mesh_node;
        add_header Access-Control-Allow-Methods "POST, OPTIONS";
        allow all;
    }
}